.jumbotron-fluid {
  color: rgb(98, 250, 131);
  font-family: "Didact Gothic", sans-serif;
  background-image: url(./background3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  margin: auto;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  color: rgb(20, 12, 2);
  border-radius: 15px;
}

h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 80px;
  color: rgb(41, 41, 26);
  font-weight: bold;
}

h4 {
  font-family: "Didact Gothic", sans-serif;
}

.score {
  font-family: "Didact Gothic", sans-serif;
  font-size: 20px;
  color: rgb(68, 40, 2);
  font-weight: bold;
}

span {
  font-family: "Didact Gothic", sans-serif;
  font-weight: bold;
}
